.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1;
}

.game {

  .grids {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 50em;

    .board {
      width: 22em;
      display: flex;
      flex-wrap: wrap;
      
      .ship {
        border: 2px solid #00f;
        background: rgba(0,0,255,.05);
        // margin: -2px;
        display: flex;

        .cell {
          height: calc(2em - 4px);
          width: calc(2em - 3px);
          border: none;

          // &.ship {
          //   border-color: rgba(0,0,255,.1);
          // }
        }
      }

      .cell {
        border: 1px solid #b4b4ff;
        padding: 0;
        height: 2em;
        width: 2em;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
    margin-top: 2em;
  }

}

footer {
  display: flex;
  justify-content: space-between;
  margin: 5em 5em 0 5em;
}